In [ ]:
!pip install pandas

In [1]:
import pandas as pd

feature_names =  ['party','handicapped-infants', 'water-project-cost-sharing', 
                    'adoption-of-the-budget-resolution', 'physician-fee-freeze',
                    'el-salvador-aid', 'religious-groups-in-schools',
                    'anti-satellite-test-ban', 'aid-to-nicaraguan-contras',
                    'mx-missle', 'immigration', 'synfuels-corporation-cutback',
                    'education-spending', 'superfund-right-to-sue', 'crime',
                    'duty-free-exports', 'export-administration-act-south-africa']

voting_data = pd.read_csv('./DeepLearning/house-votes-84.data.txt', na_values=['?'], 
                          names = feature_names)
voting_data.head()

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y

In [2]:
voting_data.describe()

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
count,435,423,387,424,424,420,424,421,420,413,428,414,404,410,418,407,331
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,democrat,n,y,y,n,y,y,y,y,y,y,n,n,y,y,n,y
freq,267,236,195,253,247,212,272,239,242,207,216,264,233,209,248,233,269

In [3]:
voting_data.dropna(inplace=True)
voting_data.describe()

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
count,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,democrat,n,n,y,n,y,y,y,y,n,y,n,n,y,y,n,y
freq,124,136,125,123,119,128,149,124,119,119,128,152,124,127,149,146,189

In [4]:
voting_data.replace(('y', 'n'), (1, 0), inplace=True)
voting_data.replace(('democrat', 'republican'), (1, 0), inplace=True)

In [5]:
voting_data.head()

,party,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missle,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,1,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
8,0,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
19,1,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1
23,1,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1
25,1,1,0,1,0,0,0,1,1,1,1,0,0,0,0,1,1

In [27]:
all_features = voting_data[feature_names].drop('party', axis=1).values
all_classes = voting_data['party'].values


train_feature = all_features[0:116]
train_classes = all_classes[0:116]

test_feature = all_features[116:]
test_classes = all_classes[116:]

In [28]:
print(all_features[0])
print(train_feature[0])

[0 1 1 0 1 1 0 0 0 0 0 0 1 1 1 1]
[0 1 1 0 1 1 0 0 0 0 0 0 1 1 1 1]

In [29]:
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop

model = Sequential()
model.add(Dense(64, activation='relu', input_dim=16))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

In [30]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 64)                1088
_________________________________________________________________
dropout_7 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_11 (Dense)             (None, 64)                4160
_________________________________________________________________
dropout_8 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_12 (Dense)             (None, 1)                 65
=================================================================
Total params: 5,313
Trainable params: 5,313
Non-trainable params: 0
_________________________________________________________________

In [31]:
model.compile(loss='binary_crossentropy', optimizer=RMSprop(), metrics=['accuracy'])

In [32]:
history = model.fit(train_feature, train_classes, batch_size=20, epochs=20, verbose=2, validation_data=(test_feature, test_classes))

Train on 116 samples, validate on 116 samples
Epoch 1/20
 - 0s - loss: 0.7028 - acc: 0.5517 - val_loss: 0.6167 - val_acc: 0.6638
Epoch 2/20
 - 0s - loss: 0.5957 - acc: 0.7414 - val_loss: 0.5474 - val_acc: 0.8276
Epoch 3/20
 - 0s - loss: 0.5195 - acc: 0.8017 - val_loss: 0.4980 - val_acc: 0.8621
Epoch 4/20
 - 0s - loss: 0.4804 - acc: 0.8017 - val_loss: 0.4553 - val_acc: 0.8966
Epoch 5/20
 - 0s - loss: 0.4604 - acc: 0.8448 - val_loss: 0.4088 - val_acc: 0.9052
Epoch 6/20
 - 0s - loss: 0.4229 - acc: 0.8448 - val_loss: 0.3720 - val_acc: 0.9224
Epoch 7/20
 - 0s - loss: 0.3759 - acc: 0.8707 - val_loss: 0.3346 - val_acc: 0.9310
Epoch 8/20
 - 0s - loss: 0.3505 - acc: 0.8966 - val_loss: 0.3040 - val_acc: 0.9397
Epoch 9/20
 - 0s - loss: 0.3397 - acc: 0.9224 - val_loss: 0.2787 - val_acc: 0.9397
Epoch 10/20
 - 0s - loss: 0.3409 - acc: 0.8793 - val_loss: 0.2584 - val_acc: 0.9397
Epoch 11/20
 - 0s - loss: 0.2700 - acc: 0.9138 - val_loss: 0.2396 - val_acc: 0.9397
Epoch 12/20
 - 0s - loss: 0.2340 - acc: 0.9138 - val_loss: 0.2242 - val_acc: 0.9397
Epoch 13/20
 - 0s - loss: 0.2324 - acc: 0.9224 - val_loss: 0.2128 - val_acc: 0.9397
Epoch 14/20
 - 0s - loss: 0.2037 - acc: 0.9138 - val_loss: 0.2005 - val_acc: 0.9483
Epoch 15/20
 - 0s - loss: 0.2383 - acc: 0.8966 - val_loss: 0.1912 - val_acc: 0.9483
Epoch 16/20
 - 0s - loss: 0.1838 - acc: 0.9224 - val_loss: 0.1837 - val_acc: 0.9483
Epoch 17/20
 - 0s - loss: 0.2141 - acc: 0.9138 - val_loss: 0.1798 - val_acc: 0.9483
Epoch 18/20
 - 0s - loss: 0.1882 - acc: 0.9138 - val_loss: 0.1728 - val_acc: 0.9569
Epoch 19/20
 - 0s - loss: 0.2118 - acc: 0.9138 - val_loss: 0.1692 - val_acc: 0.9569
Epoch 20/20
 - 0s - loss: 0.1751 - acc: 0.9483 - val_loss: 0.1663 - val_acc: 0.9569

In [33]:
score = model.evaluate(test_feature, test_classes, verbose=0)
print("Test loss: ", score[0])
print("Test accuracy: ", score[1])

Test loss:  0.16629421454051446
Test accuracy:  0.9568965496688053